DATABASE_URL=sqlite:///./flashback.db

SECRET_KEY=promijeni-ovo-u-dug-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_BASE_URL=http://127.0.0.1:8000
UPLOAD_FOLDER=app/uploads

# false = CLIP se automatski preuzima prvi put kada AI analiza zatreba
AI_MODEL_LOCAL_FILES_ONLY=false
AI_MODEL_NAME=openai/clip-vit-base-patch32
